<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/incomeapp_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.INCOME_AND_EXPENSE"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Update_profile_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Profile_Activity"
            android:exported="true">

        </activity>
        <activity android:name=".Activity.Category_Chart_Activity" />
        <activity android:name=".Activity.Payment_Method_Chart_Activity" />
        <activity android:name=".Activity.Transfer_Activity" />
        <activity android:name=".Activity.Transactions_Activity" />
        <activity android:name=".Activity.Expense_Activity" />
        <activity android:name=".Activity.Income_Activity" />
        <activity android:name=".Activity.Home_Activity" />
        <activity android:name=".Activity.Register_Activity" />
        <activity android:name=".Activity.Login_Activity" />
        <activity
            android:name=".Activity.Splash_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>